<!DOCTYPE html>
<html ng-app="ngWorkshop">
	<head>
		<title>ng-workshop</title>

		<link rel="stylesheet" type="text/css" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body ng-controller="presidencyController">
		<div class="container-fluid">
			<h2>Cadastro de Presidentes</h2>
			<form>
				<div class="row">
					<div class="col-lg-6">
						<label>Nome:</label>
						<input class="form-control input-sm" ng-model="president.name">
					</div>
					<div class="col-lg-6">
						<label>Sobrenome:</label>
						<input class="form-control input-sm" ng-model="president.lastName">
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<label>Cidade:</label>
						<input class="form-control input-sm" ng-model="president.city">
					</div>
					<div class="col-lg-6">
						<label>Estado:</label>
						<input class="form-control input-sm" ng-model="president.state">
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-lg-6">
						<button class="btn btn-sm btn-danger" ng-click="cleanForm()">Limpar</button>
						<button class="btn btn-sm btn-success" ng-click="savePresident()">Salvar</button>
					</div>
				</div>
			</form>

			<br>

			<h2>Presidentes Cadastrados</h2>
			<table class="table table-condensed table-striped table-hover table-responsive">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Sobrenome</th>
						<th>Cidade</th>
						<th>Estado</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in presidents">
						<td ng-bind="p.name"></td>
						<td ng-bind="p.lastName"></td>
						<td ng-bind="p.city"></td>
						<td ng-bind="p.state"></td>
						<td>
							<button class="btn btn-xs btn-default" ng-click="editPresident(p)"><span class="glyphicon glyphicon-pencil"></span></button>
							<button class="btn btn-xs btn-danger" ng-click="removePresident($index)"><span class="glyphicon glyphicon-remove"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script src="assets/libs/angular/angular.js"></script>
		<script src="app/ng-workshop.module.js"></script>
		<script src="app/presidency/presidency.module.js"></script>
		<script src="app/presidency/presidency.controller.js"></script>
		<script src="app/presidency/presidency.resource.js"></script>
	</body>
</html>